<h1> <%=@cat.name%> </h1>

<table>

    <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
    </tr>
    <tr>
        <th scope="row">Birthdate</th>
        <td><%=@cat.birth_date%></td>
    </tr>
    <tr>
        <th scope="row">Color</th>
        <td><%=@cat.color%></td>
    </tr>
    <tr>
        <th scope="row">Sex</th>
        <td><%=@cat.sex%></td>
    </tr>
    <tr>
        <th scope="row">Description</th>
        <td><%=@cat.description%></td>
    </tr>

</table>

<h2>Rental Requests</h2>
    <% @requests = @cat.cat_rental_requests.order('start_date ASC')%>
<table>
    <tr>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
    </tr>
    <%@requests.each do |request| %>
        </tr>
            <td><%=request.start_date%></td>
            <td><%=request.end_date%></td>
        </tr>
    <%end %>


</table>